name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: terar1sk
          template: classic
          base: header, activity, community, repositories, metadata

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_indepth: yes

          plugin_isocalendar: yes

          plugin_achievements: yes
          plugin_achievements_threshold: C

          plugin_followup: yes
          plugin_followup_sections: repositories

          filename: github-metrics.svg
