name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@latest
        with:
              token: ${{ secrets.METRICS_TOKEN }}
              user: terar1sk
              template: classic

              base: header

              plugin_languages: yes
              plugin_languages_limit: 6
              plugin_languages_threshold: 0%
              plugin_languages_sections: most-used
              plugin_languages_details: percentage
              plugin_languages_indepth: yes
              plugin_languages_categories: programming
              plugin_languages_ignored: html, css
              plugin_languages_other: yes

              filename: github-metrics.svg
